@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
}

html, body {
     overflow-x: hidden;
} 

.logoheader img {
    height: 55px;
    position: relative;
    left: 60px;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}

.menu h1 {
    font-size: 25px;
    font-family:  'Rubik', sans-serif;
    color: #525252;
    font-weight: lighter;
}

.menu-suporte {
    padding-left: 80px;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.menu-sobre {
    padding-left: 60px;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.menu-vagas {
    padding-left: 60px;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.menu-cadastro {
    padding-left: 60px;
    position: relative;
    left: 30px;
    cursor: pointer;
}

.cabecalho {
    background-color: #E8EDF6;
    margin-top: 0;
    display: flex;
    padding: 30px 0px 30px 30px;
    border-bottom: 2px solid #525252;
}

.meio-cadastro {
    display: grid;
    background-color: #E8EDF6;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.passos h2{
    display: flex;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: light;
    color: #10AC45;
    align-items: start;
    justify-content: start;
    padding-top: 5vh;
}

.titulo-cadastro3 h1{
    display: flex;
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    color: #055849;
    align-items: start;
    justify-content: start;
    padding-top: 1vh;
    padding-bottom: 2vh;
} 

.entrar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.entrar button{
    height: 13vh;
    margin-top: 2vh;
    width: 300px;
    background: #10AC45;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    color: #ffff;
    font-family:  'Rubik', sans-serif;
    cursor: pointer;
}

.entrar button:hover {
    background: #148038;
}

.rodape-cadastro {
    background-color: #E2DED5;
}

.logofooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh ;
    padding-bottom: 6vh;
}

.logofooter img {
    height: 40px;
}

.logofooter h6 {
    font-family: inter;
    color: #525252;
    padding-top: 4vh;
}

.desc-cadastro3 {
    padding-top: 2vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.desc-cadastro3 h2 {
    font-family:  'Rubik', sans-serif;
    font-size: 20px;
    color: #10AC45;
    font-weight: light;
    line-height: 30px;
    margin-bottom: 5vh;
}

.caixa-cadastro3 {
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.caixa-cadastro3 input {
    width: 500px;
    height: 60px; /* Defina a altura desejada */
    padding: 8px; /* Adicione algum preenchimento interno para melhorar a aparência */
    font-size: 20px; /* Defina o tamanho da fonte desejado */
    border: 2px solid #525252; /* Adicione uma borda */
    border-radius: 4px; /* Adicione cantos arredondados */
    box-sizing: border-box;
    background-color: #E8E7E7;
}

#senha {
    font-family: 'Rubik', sans-serif;
    padding-left: 30px;
    font-weight: bold;
    color: #055849;
}

.caixa-cadastro3 input::placeholder {
    color: #055849;
    font-weight: bold;
    /* padding-left: 1.5vh; */
}

.desc-senha h2{
    font-family:  'Rubik', sans-serif;
    font-size: 16px;
    color: #10AC45;
    font-weight: light;
    line-height: 30px;
    margin-bottom: 5vh;
}

.criar-conta h3{
    font-family:  'Rubik', sans-serif;
    font-size: 16px;
    color: #10AC45;
    font-weight: light;
    line-height: 30px;
}

.criar-conta h2{
    font-family:  'Rubik', sans-serif;
    font-size: 26px;
    color: #055849;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 5vh;
}

.menu-contrato {
    padding-left: 55vh;
    position: relative;
    left: 30px;
    cursor: pointer;
    padding-bottom: 4vh;
}

.menu-contrato h1{
    font-size: 20px;
}

.menu-sobre-footer {
    padding-left: 10vh;
    position: relative;
    left: 30px;
    cursor: pointer;
    padding-bottom: 4vh;
}

.menu-sobre-footer h1{
    font-size: 20px;
}

.menu-politica {
    padding-left: 10vh;
    position: relative;
    left: 30px;
    cursor: pointer;
    padding-bottom: 4vh;
}

.menu-politica h1{
    font-size: 20px;
}
