@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
}

body{
    background-color: #E8EDF6;
}

/* INICIO CABECALHO */

.cabecalho {
    background-color: #E8EDF6;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #525252;
    font-family: 'Rubik', sans-serif;
}

.logoheader img {
    padding-left: 40px;
    height: 40px;
}

.pesquisar-cabecalho input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    border: 2px none #525252;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffff;
}

#pesquisar-cabecalho {
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    font-weight: bold;
    color: #055849;
}

.icons img{
    display: flex;
    height: 30px;
    padding-right: 40px;
}

.icons {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

.user-icon{
    flex-wrap: nowrap;
    justify-content: center;
}

.icons h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
    color: #10AC45;
    margin-left: -40px;
}

.user-icon h2{
    color: #6a6a6a;
}

.lightmode img{
    margin-left: 35px;
    margin-right: -20px;
    height: 35px;
    justify-self: center;
    align-content: center ;
}

/* FIM CABECALHO */

.meio {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

/* AMIGOS */

.amigos{
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #B9B1B1;
    border-radius: 15px;
    background-color: #D9D9D9;
    text-align: center;
    font-family: 'Rubik';
}
.titulo-lista-amigos {
    padding: 30px;
    font-size: 12px;
    color: #E8EDF6;
    background-color: #B9B1B1;
    border-radius: 10px;
}
.lista-amigos {
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #B9B1B1;
    padding: 100px 20px 200px 20px;
}

/* FEED */

.feed{
    display: flex;
    width: 40%;
    box-sizing: border-box;
    font-family: 'Rubik';
    flex-wrap: wrap;
}

.postar{
    width: 100%;
    height: 140px;
    display: flex;
    border: 2px solid #B9B1B1;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-family: 'Rubik';
    flex-wrap: wrap;
}

.postar1{
    width: 100%;
    display: flex;
    padding: 20px;
}

.pfp-postar img{
    margin-left: 5px;
    height: 50px;
}

.escrever input {
    width: 400px;
    height: 50px;
    font-size: 15px;
    border: 2px none #525252;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ffff;
}

#escrever {
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    font-weight: bold;
    color: #525252;
}

.midia{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    flex-wrap: nowrap;
}
.foto-postar{
    display: flex;
    justify-content: center;
    padding-right: 10px;
}
.foto-postar img{
    height: 20px;
}
.foto-postar h2{
    font-size: 20px;
    padding-left: 5px;
    color: #6a6a6a;
}

.video-postar img{
    height: 20px;
}
.video-postar h2{
    font-size: 20px;
    padding-left: 5px;
    color: #6a6a6a;
}
.video-postar{
    display: flex;
}

.posts{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    border: 2px solid #B9B1B1;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-family: 'Rubik';
    flex-wrap: wrap;
    font-family: 'Rubik';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B9B1B1;
    font-size: 10px;
}

.midia{
    display: flex;
}

/* MENSAGENS */

.mensagens{
    display: flex;
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #B9B1B1;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-family: 'Rubik', sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}


.topo-msg{
    background-color: #B9B1B1;
    width: 100%;
    text-align: center;
}

.topo-msg h2{
    color: #E8EDF6;
    padding-top: 5px;
    font-size: 18px;
}

.topo-msg h3{
    color: #E8EDF6;
    font-size: 14px;
}

.pfp-msg{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 80px;
}

.pesquisar {
    display: flex;
    flex-wrap: wrap;
}

.pesquisar-msg input {
    width: 250px;
    height: 40px;
    font-size: 15px;
    border: 2px solid #B9B1B1;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffff;
}

#pesquisa-msg {
    display: flex;
    justify-content: first baseline;
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    font-weight: bold;
    color: #525252;
}

.opc-msg div{
    display: flex;
    height: 40px;
}

.opc-msg{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.lista-msg{
    color: #757272;
    border-bottom: 2px solid #757272;
    font-size: 14px;
}

.online {
    color: #B9B1B1;
    font-size: 14px
}

.conteudo-msg{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #A19F9F;
}

.conteudo-msg h2{
    font-size: 18px;
}

.conteudo-msg h3{
    font-size: 16px;
    margin-bottom: 30px;
}














/* INICIO RODAPE */

.rodape-cadastro {
    background-color: #D9D9D9;
}

.logofooter {
    display: flex;
    justify-content: center;
    padding-top: 2vh ;
    padding-bottom: 6vh;
}

.logofooter img {
    height: 40px;
}

.logofooter h6 {
    padding-left: -6vh;
    font-family: inter;
    color: #B9B1B1;
    padding-top: 4vh;
}

.logo-copy{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.copyright{
    padding-top: 6vh;
    margin-left: -25px;
    color: #B9B1B1;
    font-family: Inter;
    font-size: 10px;
}

.menu{
    display: flex;
    font-weight: light;
    font-size: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: inter;
    color: #B9B1B1;
    padding-bottom: 3vh;
}

.termos{
    padding: 0vh 3vh 0vh 3vh;
}
.termos a{
    text-decoration: none;
    color: #B9B1B1;
}
.sobre{
    padding: 0vh 3vh 0vh 3vh;
}
.sobre a{
    text-decoration: none;
    color: #B9B1B1;
}
.suporte{
    padding: 0vh 3vh 0vh 3vh;
}
.suporte a{
    text-decoration: none;
    color: #B9B1B1;
}