@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    /* zoom: 93%; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    margin: 0xp;
    padding: 0px;
}

.logoheader img {
    height: 70px;
    padding-left: 45px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.menu h1 {
    font-size: 30px;
    font-family:  'Rubik', sans-serif;
    color: #747c84;
    font-weight: lighter;
}

.menu-suporte {
    padding-left: 180px;
    cursor: pointer;
}
.menu-sobre {
    padding-left: 80px;
    cursor: pointer;
}
.menu-vagas {
    padding-left: 80px;
    cursor: pointer;
}
.menu-cadastro {
    padding-left: 80px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-cadastro a {
    text-decoration: none;
}

.entrar{
    display: flex;
    justify-self: right;
    padding-left: 50px;
    cursor: pointer;
}

.entrar button{
    background: #10AC45;
    border-radius: 200px;
    border: none;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    color: #ffff;
    font-family:  'Rubik', sans-serif;
    cursor: pointer;
}

.entrar button:hover {
    background: #055849;
}

.lightmode img{
    height: 45px;
    margin-left: 250px;
    justify-self: center;
    align-content: center ;
}

.cabecalho {
    background-color: #1d2222;
    margin-top: 0;
    display: flex;
    padding: 30px 0px 30px 30px;
    border-bottom: 2px solid #747c84;
}

.meio {
    background-color: #1d2222;
    height: 900px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.img-meio {
    display: flex;
    margin: 20px;
    position: relative;
    left: 40px;
}

.titulo-meio {
    display: flex;
    padding: 30px 50px 100px 100px;
}

.titulo-meio h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 10;
    color: #0a9b80;
    font-size: 42px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 40px;
    position: relative;
    bottom: 40px;
}

.login input {
    height: 55px;
    border: 2px solid #747c84;
    background-color: #1d2222;
    border-radius: 4px; /* Adicione cantos arredondados */
    padding: 8px;
    font-size: 20px;
}

#email {
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    /* font-weight: bold; */
    color: #0a9b80;
}

#pwd{
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    /* font-weight: bold; */
    color: #0a9b80;
}
.login a  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login  {
    color: #747c84;
    font-family: inter;
    font-size: 20px;
    gap: 10px;
}


.form form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    bottom: 50px;
    gap: 3px;
}

.form a {
    position: relative;
    bottom: 30px;
    font-family: Rubik;
    font-weight: 650;
    color: #10AC45;
    text-decoration: none;
    cursor: pointer;
}

#login-btn {
    background-color: #10AC45;
    color: white;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 550;
    border-radius: 500px;
    position: relative;
    top: 15px;
    height: 55px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#login-btn:hover {
    background: #055849;
}

#google-btn {
    background-color: #1d2222;
    border: solid 1px #747c84;
    color: #ffff;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 550;
    border-radius: 500px;
    position: relative;
    top: 90px;
    height: 55px;
    text-align: center;
}

.google-icon {
    position: relative;
    top: 9px;
    right: 15px;
}

#senha {
    display: flex;
    justify-content: left;
}

.ou {
    position: relative;
    top: 55px;
}

#google-btn h1 {
    font-size: 22px;
    font-weight: 550;
    position: relative;
    top: 13px;
}

#login-btn h1 {
    font-size: 22px;
    font-weight: 550;
    position: relative;
    top: 13px;
}

.img-meio img {
    display: flex;
    height: 110%;    
    
}

.meio2 {
    background-color: #1a1f1f;
    height: 900px;
    display: flex;
}

.titulo-meio2 h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 10;
    color: #0a9b80;
    font-size: 45px;
    position: relative;
    left: 130px;
    top: 70px;
    height: 120px;
}

.options  {
    position: relative;
    left: 400px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
 }
 
 .row1 {
     display: flex;
     flex-direction: row;
     gap: 50px;
 }
 
 .row2 {
     display: flex;
     flex-direction: row;
     gap: 50px;
 }
 
 .row3 {
     display: flex;
     flex-direction: row;
     gap: 50px;
 }
 
 .row4 {
     display: flex;
     flex-direction: row;
     gap: 50px;
 }
 
 .options h1 {
     font-family: inter;
     color: #747c84;
 }
 
 .sugestions {
     font-weight: 10;
 }
 
 .options a {
     text-decoration: none;
     color: #747c84;
     font-size: 12px;
     font-family: rubik;
     position: relative;
     top: 20px;
 }
 
 .option-btn {
     background-color: #1d2222;
     border: solid 1px #747c84;
     color: #747c84;
     font-family: Rubik;
     border-radius: 500px;
     height: 70px;
     width: 300px;
     text-align: center;
 }

.meio3 {
    background-color: #141818;
    height: 900px;
    display: flex;
}

.icon-page3 {
    width: 676px;
    height: 636px;
    position: relative;
    top: 125px;
    left: 200px;
}

.titulo-meio3 h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 10;
    color: #0a9b80;
    font-size: 45px;
    position: relative;
    top: 120px;
    left: 370px;
    height: 120px;
}

#advertise-btn {
    background-color: #10AC45;
    color: white;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 550;
    border-radius: 500px;
    position: relative;
    top: 400px;
    height: 80px;
    width: 370px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#advertise-btn h1 {
    font-size: 30px;
    font-weight: 570;
    position: relative;
    top: 21px;
}

/* INICIO RODAPE */

.rodape-cadastro {
    background-color: #181818;
}

.logofooter {
    display: flex;
    justify-content: center;
    padding-top: 2vh ;
    padding-bottom: 6vh;
}

.logofooter img {
    height: 55px;
}

.logofooter h6 {
    padding-left: -6vh;
    font-family: inter;
    color: #747c84;
    padding-top: 4vh;
}

.logo-copy{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.copyright{
    padding-top: 6vh;
    margin-left: -25px;
    color: #747c84;
    font-family: Inter;
    font-size: 10px;
}

.menu{
    display: flex;
    font-weight: light;
    font-size: 13px;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: inter;
    color: #747c84;
    padding-bottom: 3vh;
}

.termos{
    padding: 0vh 3vh 0vh 3vh;
}
.termos a{
    text-decoration: none;
    color: #747c84;
}
.sobre{
    padding: 0vh 3vh 0vh 3vh;
}
.sobre a{
    text-decoration: none;
    color: #747c84;
}
.suporte{
    padding: 0vh 3vh 0vh 3vh;
}
.suporte a{
    text-decoration: none;
    color: #747c84;
}