@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
}

html, body {
    overflow-x: hidden;
} 

.logoheader img {
    height: 55px;
    position: relative;
    left: 60px;
}

.darkmode img{
    height: 45px;
    margin-top: 5px;
    margin-left: 900px;
}

.cabecalho {
    background-color: #E8EDF6;
    margin-top: 0;
    display: flex;
    padding: 30px 0px 30px 30px;
    border-bottom: 2px solid #525252;
}

/* FIM CABECALHO */

.meio-login {
    background-color: #E8EDF6;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.titulo-login2 {
    font-family:  'Rubik', sans-serif;
    display: flex;
    align-items: start;
    justify-content: start;
}


.titulo-login2 h1 {
    color: #055849;
    font-size: 45px;
    padding-top: 7vh;
    font-weight: 1000;
}

.desc-login2 {
    padding-top: 3vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.desc-login2 h2 {
    font-family:  'Rubik', sans-serif;
    font-size: 20px;
    color: #10AC45;
    font-weight: light;
    line-height: 30px;
}

.desc-login2-1 {
    padding-top: 1vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.desc-login2-1 h3 {
    font-family:  'Rubik', sans-serif;
    font-size: 15px;
    color: #10AC45;
    font-weight: light;
    line-height: 30px;
}

.caixa-login2 {
    padding-top: 2vh;
    position: relative;
    padding-right: 50px;
}

.caixa-login2 input {
    width: 500px; /* Defina a largura desejada */
    height: 60px; /* Defina a altura desejada */
    padding: 8px; /* Adicione algum preenchimento interno para melhorar a aparência */
    font-size: 20px; /* Defina o tamanho da fonte desejado */
    border: 2px solid #525252; /* Adicione uma borda */
    border-radius: 4px; /* Adicione cantos arredondados */
    box-sizing: border-box;
    background-color: #E8E7E7;
    padding-right: 40px;
}

#senha {
    font-family: 'Rubik', sans-serif;
    padding-left: 30px;
    font-weight: bold;
    color: #055849;
}

.caixa-login2 input::placeholder {
    color: #055849;
    font-weight: bold;
}

.btn-login2 {
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40vh;
}

.btn-login2 button{
    height: 10vh;
    width: 40vh;
    background: #10AC45;
    border-radius: 7px;
    border: none;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    color: #ffff;
    font-family:  'Rubik', sans-serif;
    cursor: pointer;
}

.btn-login2 button:hover{
    background: #055849;
}

.mostra-senha {
    position: absolute;
    top: 4vh;
    right: 0;
}

.mostra-senha img {
    width: 30px;
    height: 30px;
}

.mostra-senha button {
    background: none;
    border: none;
}



/* INICIO RODAPE */

.rodape-cadastro {
    margin-top: -119px;
    background-color: #E2DED5;
}

.logofooter {
    display: flex;
    justify-content: center;
    padding-top: 2vh ;
    padding-bottom: 6vh;
}

.logofooter img {
    height: 40px;
}

.logofooter h6 {
    padding-left: -6vh;
    font-family: inter;
    color: #525252;
    padding-top: 4vh;
}

.logo-copy{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.copyright{
    padding: 6vh 0vh 0vh;
    margin-left: -25px;
    color: #525252;
    font-family: Inter;
    font-size: 10px;
}

.menu{
    display: flex;
    font-weight: light;
    font-size: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: inter;
    color: #525252;
    padding-bottom: 2vh;
}

.termos{
    padding: 0vh 3vh 0vh 3vh;
}
.termos a{
    text-decoration: none;
    color: #747c84;
}
.sobre{
    padding: 0vh 3vh 0vh 3vh;
}
.sobre a{
    text-decoration: none;
    color: #747c84;
}
.suporte{
    padding: 0vh 3vh 0vh 3vh;
}
.suporte a{
    text-decoration: none;
    color: #747c84;
}

/* FIM RODAPE */